{%  extends 'index.html' %}

{% block page-content %}


    <form class="form-horizontal" method="post" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">{% csrf_token %}
    <span style="color: red;">{{ msg.error }}</span>
    {{ msg.link_url }}
    <div class="form-group ">

        <label  class="col-sm-1 control-label">客户名称:</label>
        <div class="col-sm-3">
         {{ customer_obj.name }}
        </div>

    </div>
     {% for filed in form_obj %}
        <div class="form-group ">

        <label  class="col-sm-1 control-label">{{ filed.label }}:</label>
        <div class="col-sm-3">
         {{ filed }}
        </div>

      </div>
      {% endfor %}
     <div class="pull-right"></div>
       <button type="submit" class="btn btn-success">下一步</button>
     </div>
 </form>

{% endblock %}