{%  extends 'index.html' %}

{% block page-content %}

    <div class="container">

    <div class=" col-lg-10 col-md-pull-1">
        <h3>学生报名信息</h3>


        <span style="color: red;">{{ msg.error }}</span>
        {{ msg.link_url }}
            {{ customer_obj.as_table }}
    {#     {% for filed in customer_obj %}#}
    {#        <div class="form-group ">#}
    {##}
    {#        <label  class="col-sm-1 control-label">{{ filed.label }}:</label>#}
    {#        <div class="col-sm-3">#}
    {#         {{ filed }}#}
    {#        </div>#}
    {##}
    {#      </div>#}
    {#      {% endfor %}#}

        <h3>报名信息</h3>

             <div class="form-group ">

            <label  class="col-sm-1 control-label">所报课程</label>
            <div class="col-sm-3">
             {{ enroll_obj.enrolled_class.course }}
            </div>

            </div>


            <div class="form-group ">

            <label  class="col-sm-1 control-label">课程顾问</label>
            <div class="col-sm-3">
             {{ enroll_obj.consultant }}
            </div>

            </div>


        <a href="{% url "payment_not" enroll_obj.id %}" class="btn  btn-danger pull-left">驳回合同</a>
        <a href="{% url "payment_ok" enroll_obj.id %}" class="btn  btn-success pull-right">审核通过</a>


    </div>



 </div>

{% endblock %}