{% extends 'base.html' %}

 {% block css %}
     <style>
     .haha {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
    }</style>
 {% endblock %}

{% block body %}

    <div class="container col-xs-8 col-xs-offset-2">

    <div class="panel panel-info">
      <div class="panel-heading">报名表</div>
      <div class="panel-body">

    {% if status != 1 %}
      <form id="form_1" onsubmit="return bindcheck_isvalid();" class="form-horizontal col-xs-offset-2" method="post" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">{% csrf_token %}
        <span style="color: red;">{{ customer_obj.errors }}</span>
         {% for filed in customer_obj %}
            <div class="form-group ">

            <label  class="col-sm-2 control-label">{{ filed.label }}:</label>
            <div class="col-sm-8">
             {{ filed }}
            </div>

          </div>
          {% endfor %}


{#      上面是客户表的基本信息让客户进行完善，下方为报名表的信息，让用户查看 #}
          <div class="form-group ">

            <label  class="col-sm-2  control-label">所报课程</label>
            <div class="col-sm-8">
             {{ enroll_obj.enrolled_class.course }}
            </div>

         </div>

           <div class="form-group ">

            <label  class="col-sm-2 control-label">开课日期</label>
            <div class="col-sm-8">
             {{ enroll_obj.enrolled_class.start_date | date:'Y-m-d'  }}
{#                {{ item.event_start|date:"Y-m-d H:i:s"}}#}
            </div>

         </div>


        <pre style="height: 450px;overflow: auto">{{ enroll_obj.enrolled_class.course.contract.Content }}</pre>






          <input id="c1" type="checkbox" /> 请同意以上协议
          <input type="submit" class="btn pull-right btn-success"></input>



 </form>
    {% else %}
        <h2> 感谢，您已报名成功！请等待审核。。。</h2>
{#         <div class="dropz">上传文件</div>#}
    {% endif %}



      {% if not status %}

      </div>

        <form class="dropzone" id="filedropzone" action="{{ request.path }}" style="height: 250px;border: dashed 1px lightblue">{% csrf_token %}


                Drop files here or click to upload.<br>


         </form>



  </div>

    {% endif %}


{% endblock %}


{% block script %}
    <script>


{#    $(".dropzone").dropzone({#}
{##}
{#        url: "{{ request.path }}",#}
{#        addRemoveLinks: true,#}
{#        dictRemoveLinks: "x",#}
{#        dictCancelUpload: "x",#}
{#        maxFiles: 10,#}
{#        maxFilesize: 5,#}
{#        acceptedFiles: ".js",#}
{#        init: function() {#}
{#            this.on("success", function(file) {#}
{#                console.log("File " + file.name + "uploaded");#}
{#            });#}
{#            this.on("removedfile", function(file) {#}
{#                console.log("File " + file.name + "removed");#}
{#            });#}
{#        }#}
{#    });#}


    $(document).ready(function () {

         Dropzone.autoDiscover=false
         mydropzone=new Dropzone('#filedropzone', {
             url:'{{ request.path }}', //提交的路径
            paraName:"file", //相当于 input type=file 默认的name属性
            addRemoveLinks: true, //是否条件删除文件的链接
            dictRemoveLinks: "x",
            dictCancelUpload: "x",
            maxFiles: 2, //文件数量
            maxFilesize: 5, //每个文件的大小
            uploadMultiple:true, // 是否允许一次提交多个文件
             acceptedFiles:'image/*', //接受的文件类型
               init: function() {

                 this.on("error",function (file) {
                     alert('上穿的文件不是合法的格式！！');

                 })
            this.on("success", function(file) {
                console.log("File " + file.name + "uploaded");
            });
            this.on("removedfile", function(file) {
                console.log("File " + file.name + "removed");
            });
        }


        })
    })


{#        mydropzone=new Dropzone('#filedropzone');#}
{#        mydropzone.options#}


    function bindcheck_isvalid() {
        var ck= $("#form_1 :checkbox").last().prop('checked');




        flag=false;

        if (ck!=true){
            $('#form_1 :disabled').prop('disabled',false)
            alert('请同意协议！')
            flag=false
            return flag;
        }
        else {flag=true}
        if (mydropzone.files.length<2 ){
            alert('请上传两张照片')
            flag=false
            return flag;
        }
        else{flag=true}


        return flag;



    }




    </script>


{% endblock %}