{%  extends 'index.html' %}

{% block page-content %}


    <div class="container">

    {{ error.error }}
    <form class="form-horizontal" method="post">{% csrf_token %}

               <div class="form-group ">

                <label  class="col-sm-1 control-label">客户名称</label>
                <div class="col-sm-3">
                    {{ customer_obj.name }}
                </div>

                </div>

              <div class="form-group ">

                <label  class="col-sm-1 control-label">报名课程</label>
                <div class="col-sm-3">
                    {{ enroll_obj.enrolled_class.course }}
                </div>

                </div>

       <div class="form-group ">

                <label  class="col-sm-1 control-label">咨询顾问</label>
                <div class="col-sm-3">
                    {{ enroll_obj.consultant }}
                </div>

                </div>



       <div class="form-group ">

                    <label  class="col-sm-1 control-label">已缴费用</label>
                    <div class="col-sm-3">
                        {{ payment_obj.amount.all }}
                    </div>

                </div>


         {% for filed in payment_obj %}
                <div class="form-group">

                    <label  class="col-sm-1 control-label">{{ filed.label }}</label>
                    <div class="col-sm-3">
                        <input type="text" name="amount" placeholder="{{ filed.value }}">
                    </div>

                </div>
          {% endfor %}






        <button type="submit" class="btn btn-success">提交</button>


    </form>

    </div>

{% endblock %}