{% extends "index.html" %}
 {% block css %}
    {% endblock %}

{% block body %}
    <form method="post">{% csrf_token %}

        {% for fileds in sp_obj %}
          {{ fileds }}
        {% endfor %}




  <div class="form-group">
    <label for="exampleInputEmail1">用户名[{{ obj.name }}]重置密码</label>
    <input name="user_name" type="text" class="form-control" id="exampleInputEmail1" value="{{ obj.name }} " disabled>
  </div>

      <div class="form-group">
    <label for="exampleInputEmail1">新密码</label>
    <input name="p1" type="password" class="form-control" id="exampleInputEmail1" >
  </div>

      <div class="form-group">
    <label for="exampleInputEmail1">重复密码</label>
    <input name="p2" type="password" class="form-control" id="exampleInputEmail1" >
  </div>

    <input type="submit" value="提交">

        {% for k,v in error.message.items %}
         <span style="color: red">{{ v }}</span>

        {% endfor %}

    </form>














    {% block script %}

{% endblock %}



{% endblock %}

